.col-md-2-in-9, .col-md-7-in-9 {
    padding: 0 5px;
}
@media (min-width: 992px) {
    .col-md-2-in-9, .col-md-7-in-9 {
        float: left;
    }
    .col-md-2-in-9 {
        width: 22.222%;
    }
    .col-md-7-in-9 {
        width: 77.777%;
    }
}
