/* grid */
.leftCol {padding: 0 3px 0 1.5px}
.rightCol {padding: 0 1.5px 0 3px}
/* end grid */

/* Logo */
.logo {
	max-height: 168px;
}
/* end Logo */
/* menu left */
.menuLeftWrapper {
	border-radius: 30px;
	background-color: rgb(50,50,50);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
	padding: 12px;
	margin-top: 3px;
}
.menuLeft {
	background-color: rgb(26,26,26);
	border-radius: 20px;
	padding: 10px 0;
	border: 2px solid rgb(10,10,10);
}
.menuLeft ul {
	padding: 0;
	margin: 0;
}
.menuLeft li {
	list-style: none;
}
.menuLeft li a {
	padding: 2px 15px;
	text-decoration: none;
	width: 100%;
	display: block;
}
.menuLeft>ul>li>a { /* Mainmenu Slide*/
	color: rgb(200,200,180); /* ขาวซีด */
	font-size: 22px;
	line-height: 28px;
	padding: 0 10px;
}
.menuLeft>ul>li>a:before {
	content: '\e006';
	font-family: 'Glyphicons Halflings';
	font-size: 20px;
	color: orange; /* ส้มสว่าง */
	display: inline-block;
	margin-right: 5px;
}
.menuLeft>ul>li>ul>li>a:before {
	content: '\e142';
	font-family: 'Glyphicons Halflings';
	font-size: 16px;
	color: rgb(170,170,180); /* ขาวซีด */
	display: inline-block;
	margin-right: 5px;
}
.menuLeft>ul>li>ul>li>a {
	color : rgb(20,180,100); /* เขียวแก่ */
	background-color: rgb(10,10,10);
	font-size: 18px;
	border-bottom: 2px solid rgb(40,40,40);
}
.menuLeft>ul>li>ul>li>a:hover {
	color: rgb(170,230,0); /* เขียวอ่อน */
}
.menuLeft>ul ul {
	display: none;
}
/* end menu left */

/* Top Nav */
header {
	margin-top: 10px;
	height: 45px;
	border-radius: 20px;
	background-color: rgb(0,100,0);
	box-shadow: 0px 15px 20px 8px rgba(120, 200, 100, .8) inset;
}
header .pageIcon {
	padding: 6px;
	height: 100%;
	float: left;
}
header .pageTitle h1 {
	float: left;
	color: white;
	text-shadow: 1px 2px 0px black;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 2.2em;
	line-height: 45px;
}
header nav {
	float: right;
	padding: 0 5px;
	transition: right 0.2s ease;
	position: relative;
	z-index: 100;
	height: 45px;
}
header nav ul {
	padding: 0;
	margin: 0;
}
header nav li {
	float: left;
	list-style: none;
	margin: -15px 0 0 0;
	position: relative;
}
.collapseNav {
	display: none;
}
.collapseNav .collapseBtn {
	height: 45px;
	line-height: 45px;
	font-size: 30px;
	float: right;
	margin: 0 20px;
	cursor: pointer;
	text-shadow: 0px 1px 0px rgb(25, 150, 45);
}
.collapseNav .collapseShadow {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
	z-index: 99;
}
.searchWrapper {
	float: right;
	margin: 0 8px 0 5px;
	position: relative;
}
.searchWrapper:after {
	content: "\e003";
	font-family: 'Glyphicons Halflings';
	position: absolute;
	top: 8px;
	right: 10px;
	color: #C0C0C0;
	font-size: 1.4em;
}
.searchWrapper input[type=text] {
	border: none;
	border-radius: 20px;
	font-size: 1.5em;
	width: 190px;
	height: 30px;
	margin: 7px 0;
	padding: 0 35px 0 15px;
	background-color: rgb(14, 58, 43);
	color: white;
}
.searchWrapper input[type=text]:focus {
	outline: none;
}
.runningText {
	margin-top: 3px;
	height: 40px;
	display: block;
}
.runningText marquee {
	font-size: 1.6em;
	color: pink;
	text-shadow: 0px 1px 0px rgb(100,100,100);
	line-height: 40px;
}
.sliderWrapper {
	height: 545px;
	position: relative;
	   margin: 3px 0 0 0;
}
.sliderImg {
	width: 100%;
	height: 442px;
	position: relative;
	background-size: cover;
	background-position: center;
}
.sliderTitle {
	position: absolute; /* Relative to sliderImg */
	left: 0px;
	right: 0px;
	bottom: 0px;
	cursor: default;
	font-size: 30px;
	padding: 3px 15px;
	text-shadow: 0px 1px 0px white;
	background-color: rgba(255,255,255,0.5);
}
.sliderTitle a {
	font-weight:bold;
	color: rgb(0,20,0);
}
.sliderTitle:before {
	font-family: 'Glyphicons Halflings';
	color:rgb(255,0,100);
	content: '\e104';
	display: inline-block;
	margin-right: 5px;
	 vertical-align: bottom;
}
.sliderThumbWrapper {
	height: 100px;
	width: 100%;
	overflow: hidden;
	margin-top: 3px;
	background-color: white;
	background-size: auto 100%;
	padding: 5px 2.5px;
}
.sliderThumbWrapper:before, .sliderThumbWrapper:after{
	content: " ";
	display: table;
	clear: both;
}
.sliderThumbBox {
	cursor: pointer;
	width: 20%;
	height: 90px;
	float: left;
}
.sliderThumb {
	margin: 0 2.5px;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.sliderThumb:hover {
	-webkit-filter: brightness(1.3);
}
/* end top nav */

/* page */
.mainArea + .page {
	margin-top: 8px !important;
}
.page {
	margin-top: 3px;
	background-color: whitesmoke;
	padding: 5px 10px;
	width: 100%;
}
.page h2 {
	padding: 0;
	margin: 0;
}
/* end page */

/*
**	Media Query
*/

/* Media query for desktop (min-width: 1271px) */
@media screen and (min-width: 1271px){
	header nav li a {
		display: block;
		width: 50px;
		height: 50px;
		text-align: center;
		text-decoration: none !important;
		opacity: 0.8;
		transition: 0.2s ease all;
	}
	header nav li a:hover {
		opacity: 1;
	}
	header nav li .menu-icon {
		width: 40px;
		height: 40px;
		background-size: cover;
		background-position: center;
		transition: 0.2s ease all;
		margin-top: 16px;
	}
	header nav li a .menu-caption {
		position: absolute;
		white-space: nowrap;
		padding: 0 5px;
		text-align: center;
		color: black;
		font-weight: bold;
		bottom: -25px;
		font-size: 16px;
		left: 50%;
		background-color: rgb(180,180,255);
		border-radius: 5px;
		transform: translateY(5px) translateX(-50%);
		opacity: 0;
		transition: 0.2s ease all;
	}
	header nav li a:hover .menu-caption {
		-webkit-filter: brightness(1.4);
	}
	header nav li a:hover .menu-caption {
		opacity: 1;
		transform: translateY(0px) translateX(-50%);
	}
	header nav li a.highlight, header nav li a.highlight .menu-icon {
		opacity: 1;
	}
}
/* End media qeuery for dektop (min-width: 1271px) */

/* Media query for tablet (max-width: 1270px) */
@media screen and (max-width: 1270px) {
	header {
		overflow: hidden;
	}
	header .pageTitle h1 {
		font-size: 2em;
	}
	header nav {
		position: fixed;
		width: 300px;
		height: 100%;
		z-index: 100;
		top: 0px;
		right: -300px;
		background-color: whitesmoke;
		box-shadow: 0px 0px 10px black;
		-ms-overflow: scrolling;
		overflow: overlay;
	}
	header nav.expand {
		right: 0px;
	}
	header nav::-webkit-scrollbar {
		width: 3px;
	}
	header nav::-webkit-scrollbar-thumb {
		background-color: rgb(150,150,150);
	}
	header nav ul {
		margin: 0;
		padding: 7px 0;
	}
	header nav li {
		float: none;
		margin: 0;
	}
	header nav li a {
		display: block;
		width: 100%;
		height: 60px;
		text-align: center;
		text-decoration: none !important;
		transition: 0.2s ease all;
	}
	header nav li a .menu-icon {
		transition: 0.2s ease all;
		height: 60px;
		width: 60px;
		float: left;
		margin: 0 5px;
	}
	header nav li a .menu-caption {
		white-space: nowrap;
		padding: 0 5px;
		line-height: 60px;
		text-align: center;
		color: black;
		transition: 0.2s ease all;
		font-size: 2em;
		font-weight: bold;
		float: left;
	}
	header .searchWrapper {
		display: none;
	}
	header .collapseNav {
		display: block;
	}
	header .collapseNav .collapseShadow.show {
		display: block;
	}

}
/* End media query for tablet (max-width: 1270px) */