/*  LogoCancel */
.logoCancel {
	width: 100%;
	cursor: pointer;
}
.logoCancel .logo, .logoCancel .cancel {
	transition: opacity 2s ease;
}
.logoCancel .logo {
	opacity: 1;
}
.logoCancel .cancel {
    opacity: 0;
    top: 0px;
    position: absolute;
    width: 100%;
    background-image: url(../icons/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logoCancel:hover .logo {
	opacity: 0;
}
.logoCancel:hover .cancel {
	opacity: 1;
}
/* content */
.content {
	margin-top: 3px;
	min-height: 700px;
	background-color: whitesmoke;
	padding: 30px 15px;
}
/* end content */

/* close post botton */
.closePost:before {
    font-family: 'Glyphicons Halflings';
    content: '\e014';
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5625em;
    text-align: center;
    color: white;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background-color: gray;
}
.closePost:hover:before{
	background-color: black;
}
/* end clost post button */

/* related post */
.relatePosts {
    margin-top: 5px;
}
.relatePosts h3 {
    color: white;
    margin: 0;
    padding: 0;
}
.relatePosts .relatePost {
    width: 100%;
    height: 200px;
    padding: 0 5px;
    margin-top: 3px;
    position: relative;
    background-size: cover;
    background-position: center;
}
.relatePosts .relatePost:hover {
    -webkit-filter: brightness(1.2);
}
.relatePosts .relatePost h4 {
    color: black;
    position: absolute; /* relative to .featuredImg */
	bottom: 0px;
	left: 0px;
	right: 0px;
	line-height: 30px;
	font-size: 1em;
	padding: 0 15px;
    margin: 0;
	background-color: rgba(255,255,255,0.5);
}
/* end related post */

/* Comment */
.comments {
    background-color: white;
    margin: 3px 0 0 0;
    padding: 15px;
}
.comments footer {
    background-color: white;
}
/* end comment */