body {
      margin:0;
	background-image: url('../img/background.jpg');
	background-size: cover;
}
.logo {
	margin: 0 20px 0 -10px;
	width: 110%;
}
.sideBar {
	margin: 5px -10px 0 5px;
	height: 490px;
	border-radius: 30px;
	background-color: rgb(50,50,50);
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
}
.widgetMenuSlide {
	padding: 12px;
}
.widgetMenuSlide h4 {
	color: rgb(40,0,0);
	width: 95%;
	background-color: rgb(100,100,100);
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	font-family: tahoma;
	line-height: 40px;
	text-shadow: 0px 1px 2px rgb(180,180,180);
	border-radius: 20px;
	box-shadow: 0px 2px 3px rgb(120, 120, 120) inset;
	margin: 5px 5px 0 8px;
}
.widgetMenuSlide ul {
	padding: 0;
	margin-top: 0;
}
.widgetMenuSlide>ul {
	background-color: rgb(26,26,26);
	border-radius: 20px;
	padding: 15px 0;
	border: 2px solid rgb(10,10,10);
}
.widgetMenuSlide li a {
	padding: 2px 15px;
	text-decoration: none;
	width: 100%;
	display: block;
}
.widgetMenuSlide>ul>li>a {
	color: rgb(180,120,30);
	font-size: 22px;
	font-weight: bold;
	margin-top: -5px;
}
.widgetMenuSlide>ul>li>a:before {
	content: '\e142 ';
	font-family: 'Glyphicons Halflings';
	font-size: 15px;
	color: rgb(180,180,180);
}
.widgetMenuSlide>ul>li>ul>li>a {
	color : rgb(20,140,100); /* เขียวแก่ */
	background-color: rgb(10,10,10);
	font-size: 18px;
	border-bottom: 2px solid rgb(40,40,40);
}
.widgetMenuSlide>ul>li>ul>li>a:hover {
	color: rgb(170,230,0); /* เขียวอ่อน */
}
.widgetMenuSlide>ul ul {
    display: none;
}
header {
	margin: 20px -10px 0 -10px;
	height: 45px;
	border-radius: 20px;
	background-color: rgb(0,110,0);
	box-shadow: 0px 15px 20px 6px rgba(120, 200, 240, .3) inset;
}
header nav {
	float: right;
}
header nav li {
	float: left;
	list-style: none;
	margin: -15px 8px 0 0;
}
header nav li img {
	height: 50px;
}
header .searchWrapper {
	float: right;
}
header ul {
	padding: 0;
	margin-left: 10px;
}
header img {
	height: 40px;
	margin: 2px 0;
	float: left;
}
header input[type=text] {
	border: none;
	border-radius: 20px;
	font-size: 1.5em;
	width: 150px;
	height: 30px;
	margin: 7px 0;
	padding: 0 15px;
	background-color: rgb(14, 58, 43);
}
.pageIcon {
	margin: 4px 0 0 8px;
	height: 36px;
	float: left;
}
.pageTitle {
	float: left;
	color: white;
	text-shadow: 1px 2px 0px black;
	margin-left: 5px;
	font-weight: bold;
	font-size: 2.2em;
}
.contentWrapper {
	background-color:  rgba(84, 139, 136, 0.15);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	border-radius: 40px;
	min-height: 550px;
	margin-top: 25px;
}
