header nav li.award .menu-icon {
	background-image: url('icons/award.png');
}
header nav li.bag .menu-icon {
	background-image: url('icons/bag.png');
}
header nav li.calender .menu-icon {
	background-image: url('icons/calender.png');
}
header nav li.cart .menu-icon {
	background-image: url('icons/cart.png');
}
header nav li.chat .menu-icon {
	background-image: url('icons/chat.png');
}
header nav li.compass .menu-icon {
	background-image: url('icons/compass.png');
}
header nav li.contact-note .menu-icon {
	background-image: url('icons/contact-note.png');
}
header nav li.email .menu-icon {
	background-image: url('icons/email.png');
}
header nav li.experiment .menu-icon {
	background-image: url('icons/experiment.png');
}
header nav li.gift .menu-icon {
	background-image: url('icons/gift.png');
}
header nav li.gmail .menu-icon {
	background-image: url('icons/gmail.png');
}
header nav li.home .menu-icon {
	background-image: url('icons/home.png');
}
header nav li.human .menu-icon {
	background-image: url('icons/human.png');
}
header nav li.label .menu-icon {
	background-image: url('icons/label.png');
}
header nav li.lock-1 .menu-icon {
	background-image: url('icons/lock-1.png');
}
header nav li.lock-2 .menu-icon {
	background-image: url('icons/lock-2.png');
}
header nav li.map .menu-icon {
	background-image: url('icons/map.png');
}
header nav li.paper-bag .menu-icon {
	background-image: url('icons/paper-bag.png');
}
header nav li.photo .menu-icon {
	background-image: url('icons/photo.png');
}
header nav li.protect .menu-icon {
	background-image: url('icons/protect.png');
}
header nav li.question .menu-icon {
	background-image: url('icons/question.png');
}
header nav li.rubber-ring .menu-icon {
	background-image: url('icons/rubber-ring.png');
}
header nav li.search .menu-icon {
	background-image: url('icons/search.png');
}
header nav li.store .menu-icon {
	background-image: url('icons/store.png');
}
header nav li.talk .menu-icon {
	background-image: url('icons/talk.png');
}
header nav li.wallet .menu-icon {
	background-image: url('icons/wallet.png');
}
